<div id="footer">
  &copy Copyright Prasann Sitani @ 2020 <br>
  <a href="https://www.facebook.com/profile.php?id=100009114448664"><i class="fab fa-facebook"></i></a>
  <a href="https://github.com/Prasannsitani"><i class="fab fa-github"></i></a>
  <a href="https://www.linkedin.com/in/prasann-sitani-11803526/"><i class="fab fa-linkedin"></i></a>
</div>
</div>
</body>
<script src="javascript/passwordChecker.js" charset="utf-8"></script>
</html>
