<%- include('partials/header') %>
<div>
  <h1 class="about">UMS(User Management System)</h1>
  <p class="aboutContent">
    A User friendly Platform which basically deals with the Data and Management.
    By this platform, we are trying to save your valuable data in our system and
    be available whenever you want. We provide best and secure methods to save your
    data from the Third Party Systems and prevent your data to be stolen.<br><br>
    In this platform you have 4 buttons i.e, Add as a New User, Display User Details,
    Modify User Details, and Delete Account which do the work as their names.If you
    are interested please use and enjoy our platform.
  </p>
  <br><br><br><br>
</div>
<%- include('partials/footer') %>
