<%- include('partials/header') %>
<div class="container">
  <div class="header">
    <h1>Place for Saving Data</h1>
    <p>
      This platform is to just save and protect your valuable data in our system and provide
      the best security system to protect your data from our side.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card card1 hvr-underline-from-center">
      <div class="card-body">
        <a href="/register" class="card-text card-text1">
          ADD A NEW USER
        </a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card card2 hvr-underline-from-center">
      <div class="card-body">
        <a onclick="withoutLogin()" href="#" class="card-text card-text2">
          MODIFY USER DETAILS
        </a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card card3 hvr-underline-from-center">
      <div class="card-body">
        <a onclick="withoutLogin()" href="#" class="card-text card-text3">
          DELETE USER
        </a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card card4 hvr-underline-from-center">
      <div class="card-body">
        <a onclick="withoutLogin()" href="#" class="card-text card-text4">
          DISPLAY USER DETAILS
        </a>
      </div>
    </div>
  </div>
  <div class="modal-bg">
    <div class="modal-content">
        <a href="/" class="close">
          +
        </a>
        <div class="content">
          Maybe you haven't Created/logined in our system??<br>
          Login/Register below:->
        </div>
          <div class="outer">
            <div class="inner">
              <a href="/login" class="btn btn-outline-primary btn-lg">Login</a>
            </div>
            <div class="inner">
              <a href="/register" class="btn btn-outline-primary btn-lg">Register</a>
            </div>
          </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
