<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Raleway&display=swap" rel="stylesheet">

    <!-- My CSS -->
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/login2.css">
    <link rel="stylesheet" href="css/hover.css">

    <!-- Font Awesome Link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">

    <!-- Favicon Link -->
    <link rel="icon" href="css/favicon_io/favicon.ico">
  </head>
  <body>
    <div class="login">
      <form action="/login" method="post">
        <div class="heading">
          Login
        </div><br>
        &nbsp;&nbsp;&nbsp;&nbsp;Email<input type="email" name="email" placeholder="example@123.com" size="200" required><br><br>
        Password &nbsp; <input type="password" name="password" placeholder="Password" required><br><br>
        <button class="btn btn-outline-light btn-login" type="submit" name="button">Login</button>
      </form>
        <a class="forgot" href="#" onclick="forgot()">Forgot Password?</a><br><br>
        <a class="hvr-underline-from-center create" href="/register">Create a new account&nbsp; <i class="fas fa-chevron-circle-right"></i></a>
    </div>
    <div class="modal-bg">
      <div class="modal-content">
          <a href="/login" class="close">
            +
          </a>
          <div class="content">
            Please write the code sent to your registered email address <br><hr>
          </div>
          <form action="/codeCheck" method="post">
            <label>Code:</label>
            <input type="text" name="Code"><br><hr>
              <div class="inner">
                  <button class="searchButton btn-sm" type="submit">Check</button>
              </div>
              <div class="inner">
                  <a href="/login" class="searchButton btn-sm">Cancel</a>
              </div>
          </form>
      </div>
    </div>
  </body>
  <script src="javascript/passwordChecker.js" charset="utf-8"></script>
</html>
